body{
    background-color: gray;
}

h1 {
    background-color: turquoise;
}

.container{
    margin-top: 10px;
}

h2 {
    font-size: xx-large;
    color: turquoise;
}

img {
    float: left;
    margin: 10px;
}

.btn {
    background-color: turquoise;
    margin: 10px;
}