body{
    background-color: gray;
}

a {
    float: right;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
    background-color: turquoise;
}

navbar-nav {
    justify-content: right;
}

.container{
    margin-top: 10px;
}

h2 {
    font-size: xx-large;
    color: turquoise;
}

img {
    float: left;
    margin: 10px;
}

.btn {
    background-color: turquoise;
    margin: 10px;
}