body{
    background-color: gray;
}

a {
    float: right;
}
/* my name */
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
    background-color: turquoise;
}

navbar-nav {
    justify-content: right;
}

.container{
    margin-top: 10px;
}

/* page title */
h2 {
    font-size: xx-large;
    color: turquoise;
}

/* forces image to the left so text will wrap around it */
img {
    float: left;
    margin: 10px;
}

/* submit button for contact.html */
.btn {
    background-color: turquoise;
    margin: 10px;
}